
.conteiner-blog{
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    .blog-izquierda{
        position: relative;
        width: 30%;
        height: auto;
        padding: 1rem;
        .recent-post{
            border: solid .1rem #ccc;
            height: 99%;
            padding: 1rem;
            display: flex;
            flex-direction: row;
            .imgs{
                width: 50%;
                height: 100%;
                & img{
                height: auto;
                width: 100%;}
                & h2{
                    font-size: 20px;
                }
            }
            .info{ 
                width: 50%;
                text-align:left;
                height: 100%;
                justify-content: center;
                align-items: center;
                margin-top: 3.5rem;
                margin-left: 1rem;
            }
        }
    }
    .blog-derecha{
       
        width: 70%;
        height: auto;
        .infos{
            margin-top: 1rem;
            width: 100%;
            height: auto;
            & img{
                width: 100%;
                height: auto;
                
            }
            .bl-in{
                display: flex;
                flex-direction: row;
                text-align: left;
                & i{
                    border: solid 0.2rem black;
                }
                & p{
                    padding: 0 0 0 1.2rem;
                }           
            }
            .img-abajo{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: auto;
                & img{
                    width: 450px;
                    height: 380px;
                }
            }

        }
        .comentarios{
            width: 100%;
            height: auto;
            .comentario{
                display: flex;
                flex-direction: row;
                padding: 1rem 1rem;
                border: solid 0.1rem #ccc;
                .info-comentario{
                    padding: 0 0 0 1.2rem;
                    & p{
                        color: #adaaaa;
                    }
                }
                & img{
                    width: auto;
                    height: 50px;
                }
            }
            
        }
        .form-comentario{
            .form{
                & input{
                    padding: 0.1rem 0.5rem;
                    background: #f5f5f5;
                    border-radius: 0.2rem;
                    border: none;
                    width: 300px;
                    height: 30px;
                    outline: none; 
                    box-shadow: none;
                    
                }
                & textarea{
                    background: #f5f5f5;
                    padding: 0.8rem 0.5rem;
                    border-radius: 0.2rem;
                    border: none;
                    width: 98%;
                    outline: none; 
                    box-shadow: none;
                }
                & button{
                    color: #fff;
                    padding: 1rem 2rem;
                    border: none;
                    border-radius: 2rem;
                    background-color: black;

                }
            

            }
        }
    }
}
/* Contacto CSS*/

.conteiner-contac{
    display: flex;
    height: auto;
    justify-content: space-between;

    .form-contac{
        line-height: 1.2;
        padding: 1rem;
        width: 60%;
        display: flex;
        flex-direction: column;
        .cont{
            width: 38rem;
            margin-left: 10%;
           
        }
        & input{
            padding: 0.1rem 0.5rem;
            background: #f5f5f5;
            border-radius: 0.05rem;
            border: none;
            height: 30px;
            outline: none; 
            box-shadow: none;
        }
        & textarea{
            background: #f5f5f5;
            padding: 0.8rem 0.5rem;
            border-radius: 0.05rem;
            border: none;
            width: 98%;
            outline: none; 
            box-shadow: none;
        }
        & button{
            width: 25%;
            color: #fff;
            padding: 1rem 2rem;
            border: none;
            border-radius: 2rem;
            background-color: black;

        }
    }
    .info-contac{
        background-color: #f5f5f5;;
        padding: 1rem;
        margin-left: 1rem;
        width: 40%;
        display: flex;
        flex-direction: column;
        

    }
}