

.icon-cart{
    width: 25px;
    height: 25px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}
.container-icon{
    position: relative;
}
.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 15px;
    height: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
	color: #000;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}
.hiden{
    display: none;
}


.boton-de-compra{
    padding: 5px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.boton-de-compra button{
    padding: 5px 10px;
    font-size: 15px;
    background-color: rgb(87, 87, 179);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 15px;  
    cursor: pointer;
}
